# Compiled Object files
*.slo
*.lo
*.o

# Project directories
bin/
lib/
Win32/
build/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# VCProject files
*.vcxproj.filters
*.vcxproj
*.sln
*.sdf
*.suo
*.dir/
*.vs/
*.vcxproj.user


#BOOST stuff
boost-*
boost_*

#Glew stuff
glew-*


#testing ssh key

#cmake trash files
cmake_install.cmake
CMakeFiles
CMakeCache.txt
